@import url("./styles.css");

.filter-list {
  display: flex;
  justify-content: center;
  gap: 2.5em;
}

.filter-list-button {
  color: var(--iris);
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  transition: transform var(--transition), background-color var(--transition),
    color var(--transition);
}

.filter-list-button:hover {
  cursor: pointer;
  background-color: var(--ocean);
  color: var(--white);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}

.row-list {
  display: flex;
  justify-content: space-between;
}

.project-card {
  background-color: var(--white);
  border: 1px solid var(--cornflower);
  transition: transform var(--transition);
}
.project-card:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transform: scale(1.015);
}

.project-card-info {
  display: flex;
  flex-direction: column;
  margin: 32px 0 32px 16px;
  gap: 8px;
}

.project-card-info h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin: 0;
}

.project-card-info p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin: 0;
}

.overlay-image {
  position: relative;
  overflow: hidden;
}

.overlay {
  padding: 40px 32px;
  position: absolute;
  top: 0;
  width: 360px;
  height: 304px;
  background: url("../images/overlay.jpg");
  transform: translateY(100%);
  transition: transform var(--transition);
}

.overlay-image:hover .overlay {
  transform: translateY(0px);
  cursor: pointer;
}

.overlay-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
